.sidenav {
    background: linear-gradient(to bottom, #0e0a1a 0%, #c001ff 100%);
    width: 200px;
    padding: 10px;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    background: #fff;
    border-radius: 20px;
    margin-bottom: 5px;
}

.nav-list a:hover {
    color: #fff;
    text-decoration: none;
    background: #c001ff;
    border-radius: 20px;
    margin-bottom: 5px;
}

.nav-list i {
    padding-right: 20px;
}

.nav-list hr {
    border: none;
    border-top: 1.5px solid #0e0a1a;
}

.content {
    padding: 16px;

    background-color: #FFF;
}